
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
    color: #000000;
    background-color: rgb(255, 255, 255);
  }
  
  .contenedorframe{
    position: relative;
    padding-bottom: 56.25%;
    height: 400px;
    overflow: hidden;
  }

  .contenedorframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  p {
    line-height: 2em;
    font-family: sans-serif;
    font-size: 1rem;
  }
  
  a {
    transition: all 0.3s ease;
  }
  
  cite{
    font-size: small;
  }

  .subitems{
    line-height: 2em;
    font-family: sans-serif;
    font-size: 1rem;
  }

  .mtKey{
    font-size: 6rem;
    
  }
  .intsuma {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.intsuma > span {
    display: block;
    font-size: 70%;
}
.intsuma .lim-up {
    margin-bottom: -1.0ex;
}
.intsuma .lim {
    margin-top: -0.5ex;
}
.intsuma .sum {
    font-size: 1.5em;
    font-weight: lighter;
}
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .small {
    font-size: 0.95rem;
  }
  
  .tm-color-primary {
    color: rgb(201, 5, 5);
  }
  
  .tm-color-gray {
    color: #333;
  }
  
  .tm-bg-black-transparent {
    background: black;
     /*
    background: rgba(251,223,147,1);
    background: -moz-linear-gradient(top, rgba(251,223,147,1) 0%, rgba(248,181,0,1) 49%, rgba(250,77,121,1) 50%, rgba(207,6,6,1) 98%, rgba(252,234,187,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,223,147,1)), color-stop(49%, rgba(248,181,0,1)), color-stop(50%, rgba(250,77,121,1)), color-stop(98%, rgba(207,6,6,1)), color-stop(100%, rgba(252,234,187,1)));
    background: -webkit-linear-gradient(top, rgba(251,223,147,1) 0%, rgba(248,181,0,1) 49%, rgba(250,77,121,1) 50%, rgba(207,6,6,1) 98%, rgba(252,234,187,1) 100%);
    background: -o-linear-gradient(top, rgba(251,223,147,1) 0%, rgba(248,181,0,1) 49%, rgba(250,77,121,1) 50%, rgba(207,6,6,1) 98%, rgba(252,234,187,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,223,147,1) 0%, rgba(248,181,0,1) 49%, rgba(250,77,121,1) 50%, rgba(207,6,6,1) 98%, rgba(252,234,187,1) 100%);
    background: linear-gradient(to bottom, rgba(251,223,147,1) 0%, rgba(248,181,0,1) 49%, rgba(250,77,121,1) 50%, rgba(207,6,6,1) 98%, rgba(252,234,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbdf93', endColorstr='#fceabb', GradientType=0 );
  */
  }
  
  .tm-bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
  }
  
  .tm-intro {
    max-width: 500px;
    width: 100%;
    padding: 55px;
    margin-right: 0;
    margin-left: auto;
  }
  
  .tm-section-title {
    font-size: 1.6rem;
    text-align: center;
  }
  
  .parallax-window {
    min-height: 662px;
    background: transparent;
  }
  
  .tm-section {
    display: flex;
    align-items: center;
    height: auto;
    max-width: 1275px;
    padding: 5px 20px;
  }

  .s-header{
    color:rgb(0, 0, 0);
    padding: 0px 15px;
    
  }
  
  #intro {
    min-height: 100vh;
    max-width: none;
  }
  
.left-image{
    max-width: 120px;
    max-height: 120px; 
    margin: 10%; 
}
.tm-brand {
    font-size: 1rem;
}
.titPrin {
	display: inline-block;
	padding: 20px;
	color: #FFFAFA;
}
  
.tm-brand-box {

    width: 100%;
    max-width: 230px;
    min-height: 160px;
    color: rgb(248, 245, 245);
    text-align: left;
    margin-left: 9%;
}

.nav-link {
    font-size: 0.7rem;
}

.tm-border-gray {
    border-color: #cdcecf;
  }
  
  .tm-box-pad {
    padding: 50px 55px;
  }
  
  .tm-brand {
    padding: 1px;
  }
  .conc{
    font:bolder;
    line-height: 17px;
  }

  .resp{
    color:red;
  }
  .tm-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-left: 70px;
    padding-right: 70px;
    width: 400px;
    max-width: 400px;
  }

  .tm-section-wrap {
    width: calc(100% - 400px);
    margin-left: auto;
    margin-right: 0;
  }
  
  .tm-main-nav > li > a {
    font-weight: bolder;
    color: rgb(247, 242, 242);
    font-size: 0.8rem;
  }
  
  .tm-main-nav {
    margin-bottom: 160px;
  }
  
  .tm-white-rect {
    display: block;
    width: 15px;
    height: 15px;
    background-color: white;
  }
  
  
  
  .nav-link .tm-white-rect {
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .nav-link.current .tm-white-rect,
  .nav-link:hover .tm-white-rect {
    opacity: 1;
  }
  
  .tm-main-nav .nav-link:hover {
    animation-name: blinker;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  .tm-section-half {
    padding: 20px;
  }
  
   
  .tm-section-pad {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .tm-clients-images {
    max-width: 1040px;
  }
  
  .tm-w-80 {
    max-width: 80%;
  }
  
  .tm-flex-item-left {
    align-self: flex-start;
  }
  
  .tm-img-wrap {
    padding: 10px;
  }
  
  .tm-img-wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 240px;
    height: 120px;
  }
  
  .tm-contact-form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tm-contact-form {
    max-width: 305px;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 40px;
  }
  
  .tm-btn-primary {
    color: #707172;
    border-bottom: 1px solid #cdcecf;
    padding: 10px 18px;
    position: relative;
  }
  
  .tm-btn-primary:hover,
  .tm-btn-primary:active {
    color: #fff;
    background-color: #999;
  }
  
  .tm-btn-primary:after {
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background: #cdcecf;
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .tm-btn-primary:hover:after,
  .tm-btn-primary:active:after {
    height: 100%;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  
  @media (max-width: 1600px) {
    .tm-sidebar {
      width: 17%;
      max-width: none;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .tm-social-link {
      margin: 5px;
    }
  
    .tm-section-wrap {
      width: 83%;
    }
  
    .tm-img-wrap a {
      width: 100%;
      height: 100%;
    }
    
  }
  
  .navbar-toggler {
    display: none;
  }
  
  @media (max-width: 991px) {
    .tm-bg-black-transparent {
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    
  
    .tm-main-nav {
      margin-bottom: 60px;
    }
  
    .tm-social-links {
      margin-bottom: 30px;
    }
  
    footer p {
      line-height: 1;
    }
  
    .tm-sidebar {
      width: 250px;
      left: -250px;
      padding: 15px;
      transition: all 0.3s ease;
    }
  
    .navbar-toggler {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px 15px;
      transition: all 0.3s ease;
      border-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      top: 5px;
    }
  
    .navbar-toggler:focus {
      outline: none;
    }
  
    .tm-sidebar.show {
      left: 0;
    }
  
    .tm-sidebar.show .navbar-toggler {
      left: 250px;
    }
  
    .tm-section-wrap {
      width: 100%;
    }
  
    figure.effect-bubba h2 {
      font-size: 1.1rem;
      margin-bottom: 25px;
    }
  
    .tm-gallery-item figure p {
      font-size: 63%;
      padding: 0;
      line-height: 1.5;
    }
    .s-header{
      padding-left: 2%;
    }
  }
  
  @media (max-width: 767px) {

    .tm-section {
      padding: 30px;
    }
  }
  
  @media (max-width: 554px) {
    .s-header{
      padding-left: 3%;
    }
    .tm-section {
      padding: 15px;
    }
  }
  
  @media (max-width: 383px) {
    .s-header{
      padding-left: 9%;
    }
    .tm-box-pad {
      padding: 50px 30px;
    }
  }
  